:root{
    --fuentePrincipal: 'Open Sans', sans-serif;;
    --fuenteTitulos: 'Anton', sans-serif;

    --primario:	rgb(22, 122, 181);
    --secundario: rgb(35, 136, 194);
    --leve: #dfe3ee;
    --blanco : #ffffff;
    --enfasis: rgb(233, 194, 66);
}
html {
    box-sizing: border-box;
    min-height: 100%; /*Evitar líneas*/
    font-size: 62.5%;/*Fuente responsiva*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--fuentePrincipal);
    background-color: var(--primario);
    min-height: 100%;
    font-size: 1.6rem;
}

h1{
    font-family: var(--fuenteTitulos);
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--leve);
}
h3{
    font-family: var(--fuenteTitulos);
    text-align: center;
    text-transform: uppercase;
    color: var(--primario);
}
img{
    width: 100%;
}
input{
    border-radius: .3rem;
}
textarea{
    border-radius: .3rem;
}
.contenedor{
    padding: 3rem;
    max-width: 1000px;
    margin: 2rem auto;
    width: 95%;
    background-color: var(--leve);
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.34);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.34);
}
.campo{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}
@media(min-width:768px){
    .contenedor-campos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .campo{
        flex: 0 0 calc(50% - 1rem);
    }
    /*form{
        /*max-width: 65%;*/
        /*display: block;
        margin: 0 auto;
    }*/
    .guardar{ 
        display: block;
        margin: 0 auto;
    }
}
.campo label{
    flex: 0 0 9rem;
    margin-right: 1rem;
}
.campo input{
    flex: 1;
    height: 4rem;
}
.campo textarea{
    flex: 1;
    height: 7rem;
}
.w-100{
    flex: 0 0 100%;
}

.boton{
    margin-top: 1rem;
    background-color: var(--primario);
    color: white;
    font-size: 2rem;
    border-radius: .8rem;
    padding: .7rem;
}

.boton:hover{
    background: var(--secundario);
    color: var(--enfasis);
}

.guardar{
    text-align: center;
}

.importante{
    text-align: center;
    margin: 3rem 0;
    font-style: italic;
}