:root{
    --fuentePrincipal: 'Maven Pro', sans-serif;
    --fuenteTitulos: 'Anton', sans-serif;
    

    --fuenteGRH: 'Paytone One', sans-serif;


    --primario:	rgb(22, 122, 181);
    --secundario: rgb(35, 136, 194);
    --leve: #dfe3ee;
    --blanco : #ffffff;
    --enfasis: rgb(233, 194, 66);
}
html {
    box-sizing: border-box;
    min-height: 100%; /*Evitar líneas*/
    font-size: 62.5%;/*Fuente responsiva*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--fuentePrincipal);
    /*background-color: var(--primario);*/
    /*background-image: linear-gradient(to top, #09203f 0%, #537895 100%);*/
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    min-height: 100%;
    font-size: 1.6rem;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

h1{
    font-family: var(--fuenteGRH);
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--blanco);
    position: relative;
}
h3{
    font-family: var(--fuenteTitulos);
    text-align: center;
    text-transform: uppercase;
    color: var(--primario);
}
img{
    width: 100%;
}
input, select ,textarea{
    border: none;
    border-bottom: solid 2px #13547a;
}

header{
    color: var(--primario);
}
/*
solo en caso de requerirse
input:invalid + span::after{
    content: '\2716';
    color: #f00;
    padding-left: 5px;
    font-size: 2rem;
}
input:valid + span::after{
    content: "\2714";
    color: #26b72b;
    padding-left: 5px;
    font-size: 2rem;
}*/
table.empleadores{
    margin: 0 auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 20px;
    text-align: center;
}
table.actividades{
    margin: 0 auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 20px;
    text-align: center;
}

.oculto{
    display: none;
}
nav{
    z-index: 1;
    position: fixed;
    
    width: 100%;
    background-color: white;
    transition: .5s ease all;
}
nav img{
    padding: 0!important;
    margin: 0!important;
    width: 72px;
}
nav ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    transition: .5s ease all;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 20px;
    transition: .3s;
}

nav ul li a{
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    transition: .3s;
}
nav ul li a:hover{
    color: white;
    background-color: black;
    padding: 10px 20px;
}
nav .logo {
    height: 2.5rem!important;
    text-align: left!important;
    padding: 0 20px!important;
}
nav .abrir{
    font-size: 2rem;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--primario);
    text-align: right;
    box-sizing: border-box;
    color: var(--blanco);
    display: none;
    transition: .5s ease all;
}
nav span{
    text-align: center!important;
}
@media(max-width: 768px){
    nav .abrir{
        display: block;
    }
    nav ul{
        display: none;
        width: 100%;
    }
    nav ul li{
        display: block;
        text-align: center;
    }
    nav ul li a{
        font-size: 2rem;
    }
}
nav ul.active{
    display: block;
    transform: scale(.9);
}

.overlay{
    background: rgba(0,0,0,.3);
    position: fixed;
    bottom: 0;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.active{
    visibility: visible;
}
.popup{
    background: var(--blanco);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
    border-radius: 1rem;
    padding: 15px;
    transform: scale(0.7);
    opacity: 0;
    transition: .4s ease all;
}

.popup .btn-cerrar-popup{
    font-size: 2rem;
    line-height: 1.6rem;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;
    margin-bottom: 5px;
}

.popup .btn-cerrar-popup:hover{
    color: #000;
}


.popup.active{
    opacity: 1;
    transform: scale(.99);
}
.popup .contenedor-campos.active{
    opacity: 1;
}

.usuario-tb{
    font-size: 5rem;
    color: var(--primario);
}
.eslogan{
    font-family: 'Yellowtail', cursive;
    font-size: 2.5rem;
    text-align:center;
}
.error-msg{
    margin-left: 5px;
    padding-left: 5px;
    color:red;
}
.nota-amarilla{
    color: var(--enfasis);
}
input.obligatorio{
    border-bottom: solid 2px var(--enfasis) !important;
}
.fondo-login{
    background-image: url(../img/trade.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.hero{
    padding-top: 5rem;
    padding-bottom: 1rem;
    background-image: url(../img/work.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 10rem;
    position: relative;
    display: flex;/*quita el espacio*/
    justify-content: center;
    align-items: center;
}
.hero-index{
    background-image: url(../img/work.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 22rem;
    position: relative;
    display: flex;/*quita el espacio*/
    justify-content: center;
    align-items: center;
}
.contenedor-hero{
    position: relative;
    z-index: 1;
    text-align: center;
}
.hero::after{
    content:'';
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
}
.bloqueado{
    border: none;
}
.contenedor{
    padding: 3rem;
    max-width: 1000px;
    margin: 2rem auto;
    width: 95%;
    background-color: var(--blanco);
    border-radius: 1rem;
    -webkit-box-shadow: 0px 20px 28px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 20px 28px 0px rgba(0,0,0,1);
    box-shadow: 0px 20px 28px 0px rgba(0,0,0,1);
}
.campo{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}
@media(min-width:768px){
    .menu-boton{
        background-color: transparent;
        border: none;
    }
    .contenedor-campos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .campo{
        flex: 0 0 calc(50% - 1rem);
    }
    /*form{
        /*max-width: 65%;*/
        /*display: block;
        margin: 0 auto;
    }*/
    .importante{ 
        display: block;
        margin: .5rem auto;
    }
    .menu{
        display: flex;
        justify-content: space-between;
    }
    .seccion{
        /*flex:1; /*Todos crecen o decrecen por igual*/
        /*si se quiere que uno sea más que otro se le apunta y se pone un número mayor en flex*/

        flex: 1;
    }
}
.campo label{
    flex: 0 0 9rem;
    margin-right: 1rem;
}
.campo input, .campo select{
    flex: 1;
    height: 4rem;
}
.campo textarea{
    flex: 1;
    height: 7rem;
}
.w-100{
    flex: 0 0 100%;
}

.boton{
    background-color: var(--primario);
    color: white;
    font-size: 2rem;
    border-radius: .8rem;
    padding: .7rem;
    border: none;
    transition: .5s all;
    cursor: pointer;
}
.boton.eliminar{
    background-color: rgb(236, 58, 58) !important;
    cursor: pointer;
}
.boton:hover{
    background: var(--secundario);
    color: var(--enfasis);
}
.contenedor-botones{
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    display: flex ;
    justify-content: space-around;
}
.guardar{
    margin-top: 1rem;
    flex-wrap: nowrap;
}

.importante{
    text-align: center;
    margin: 3rem auto;
    font-style: italic;
}
a {
    text-decoration: none;
}

.seccion{
    margin-top: 2rem;
    /*centrar iconos*/
    display:flex;
    flex-direction: column;
    align-items: center; 
}
.icono{
    margin: 2rem 0;
}
.icono{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--enfasis);
    display: flex;
    justify-content: center;/*horizontal*/
    align-items: center;/*vertical*/
    font-size: 3rem;  
}
.icono button{
    color: black;
    transition: .5s;
}
.icono button:hover{
    color: #13547a;
}
button.icono-boton{
    color: var(--primario);
}

.menu-boton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.contenedor-footer {
    padding: 3rem;
    
    margin-top: 10rem !important;
    margin-bottom: 5rem !important; 
    margin: 0 auto;

    width: 95%;
    background-color: var(--blanco);
    border-radius: 1rem;
    -webkit-box-shadow: 0px 20px 28px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 20px 28px 0px rgba(0,0,0,1);
    box-shadow: 0px 20px 28px 0px rgba(0,0,0,1);
}

footer p{
    text-align: center;    
}

.campo a{
    text-decoration: none;
    color: var(--primario);
}
.campo p{
    font-size: 1.6rem;
    padding-top: 20px;
    margin: 0 auto;
}